ege.SetContentType("text/css")


.group-membership-list .filter .filter-option.selected a {
    font-weight: bold;
    background-color: inherit; 
      color: #5F9933 !important;
}
.group-membership-list .filter .filter-option a {
      color: #5F9933 !important;
      display: inline;
      border: 0;
      transition: initial;
      padding: 0;
}
.group-membership-list .filter .filter-option a:hover {
      text-decoration: underline;
      background-color: inherit; 
      color: #5F9933 !important;
}
.group-membership-list .filter .filter-option {
      display: inline;
}
.content-fragment.group-membership-list .table-item .table-column .field-list, .content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}
.content-fragment.group-membership-list fieldset {
  background-color: inherit;
  border: 0;
  margin-bottom: 0;
}
.content-fragment.group-membership-list .field-item .edit-group-membership {
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
.content-fragment.group-membership-list .table-list {
  position: relative;
  width: 100%;
}
.content-fragment.group-membership-list .field-item {
  display: inline;
  position: relative;
}
.content-fragment.group-membership-list .field-item span {
  display: inline;
  position: relative;
}
.content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}
.content-fragment.group-membership-list .table-column .user-name {
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
}
.content-fragment.group-membership-list .table-column .avatar {
  width: 32px;
  height: 32px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
}


.content-fragment.group-membership-list fieldset {
  background-color: inherit !important;
  border: 0 !important;
  margin-bottom: 0 !important;
}
.content-fragment.group-membership-list .field-item span {
  display: inline !important;
  position: relative !important;
}
t nocompatible              " be iMprove
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
" alternatively, pass a path where Vundle should install plugins
"call vundle#begin('~/some/path/here')

" let Vundle manage Vundle, required
Plugin 'gmarik/Vundle.vim'

" The following are examples of different formats supported.
" Keep Plugin commands between vundle#begin/end.
" plugin on GitHub repo
"Plugin 'tpope/vim-fugitive'
" plugin from http://vim-scripts.org/vim/scripts.html
"Plugin 'L9'
" Git plugin not hosted on GitHub
"Plugin 'git://git.wincent.com/command-t.git'
" git repos on your local machine (i.e. when working on your own plugin)
"Plugin 'file:///home/gmarik/path/to/plugin'
" The sparkup vim script is in a subdirectory of this repo called vim.
" Pass the path to set the runtimepath properly.
"Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}
" Avoid a name conflict with L9
"Plugin 'user/L9', {'name': 'newL9'}

" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required
" To ignore plugin indent changes, instead use:
"filetype plugin on
"
" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ
" Put your non-Plugin stuff after this line
