$core_v2_page.SetContentType("text/css")

.content-fragment.group-banner .navigation-item .internal-link.join-group span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/join_5F00_group.gif") no-repeat scroll left center;
    height: 16px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 16px;
}

.content-fragment.group-banner .navigation-item .internal-link.leave-group span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/leave_5F00_group.gif') no-repeat center left;
}

.content-fragment.group-banner .navigation-item .internal-link.favorite-on span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 0 -1356px;
}

.content-fragment.group-banner .group-name {
  font-size: 24px;
  color: #7fa3b7;
  line-height: normal;
  margin: 0;
}
.content-fragment.group-banner .group-description {
  margin: 0;
  color: 52524a;
}

.content-fragment.group-banner .group-avatar img {
  width: 75px;
/*  height: 75px;*/
}
.content-fragment.group-banner .navigation-item .internal-link.rss span {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.png') no-repeat left top;
}
.content-fragment.group-banner .group-description {
  font-size: 11px;
}

.content-fragment.group-banner .navigation-item .internal-link.favorite-off span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 0 -110px;
}
.content-fragment.group-banner .navigation-item .internal-link {
  position: relative;
  padding: 0 0 0 29px;
  line-height: 16px;
  margin: 0;
  display: inline-block;
}
.content-fragment.group-banner {
  position: relative;
  min-height: 115px;
}
.content-fragment.group-banner .group-avatar .internal-link.edit-group {
  display: none;
}
.content-fragment.group-banner .navigation-list li.navigation-item:first-child {
  padding-top: 16px;
}
.content-fragment.group-banner .navigation-list {
  margin-right: 4px;
}
.content-fragment.group-banner .navigation-item {
  position: relative;
  font-weight: normal;
  padding: 5px 5px 5px 0px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  margin: 0;
}
.group-banner .group-banner-actions {
  float: right;
  margin: 4px 20px 0 0;
}
.content-fragment .group-banner {
  position: relative;
  padding: 0;
}
.content-fragment.group-banner .group-avatar {
  display: inline;
  max-width: 81px;
  max-height: 70px;
  padding: 2px;
  /* border: solid 1px #ccc; */
  display: table;
}
.group-banner .group-avatar {
    float: left;
    margin: 13px;
}
.group-banner .group-name {
    padding: 13px 0 3px 0;
}
.group-banner .group-description {
    width: 60%;
}
@media screen and (max-width: 870px) {
    .group-banner .group-banner .group-banner-actions {
        float: none;
        padding-left: 106px;
    }
    .group-banner .group-banner .navigation-item {
        display: table;
    }
    .group-banner .group-banner .navigation-item:after {
        content: "";
        clear: both;
        display: table;
    }
}t nocompatible              " be iMprove
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
" alternatively, pass a path where Vundle should install plugins
"call vundle#begin('~/some/path/here')

" let Vundle manage Vundle, required
Plugin 'gmarik/Vundle.vim'

" The following are examples of different formats supported.
" Keep Plugin commands between vundle#begin/end.
" plugin on GitHub repo
"Plugin 'tpope/vim-fugitive'
" plugin from http://vim-scripts.org/vim/scripts.html
"Plugin 'L9'
" Git plugin not hosted on GitHub
"Plugin 'git://git.wincent.com/command-t.git'
" git repos on your local machine (i.e. when working on your own plugin)
"Plugin 'file:///home/gmarik/path/to/plugin'
" The sparkup vim script is in a subdirectory of this repo called vim.
" Pass the path to set the runtimepath properly.
"Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}
" Avoid a name conflict with L9
"Plugin 'user/L9', {'name': 'newL9'}

" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required
" To ignore plugin indent changes, instead use:
"filetype plugin on
"
" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ
" Put your non-Plugin stuff after this line
