$core_v2_page.SetContentType("text/css")


.omnicell-subscription-member-list { }
.omnicell-subscription-member-list .filter-list { float: right; }
.omnicell-subscription-member-list .resultscontainer { clear: both; }
.omnicell-subscription-member-list .select-instr { padding-bottom: 10px; padding-left: 3px; padding-top: 10px; font-weight:bold; color:#7FA3B7;}
.omnicell-subscription-member-list .resultstable { width: 100%; }
.omnicell-subscription-member-list .results-header { background-color: #D2D2D2; }
.omnicell-subscription-member-list .results-title { width: 245px; }
.omnicell-subscription-member-list .results-facility  { width: 205px; }
.omnicell-subscription-member-list .results-csn { width: 65px; }
.omnicell-subscription-member-list .results-name { width: 205px; }
.omnicell-subscription-member-list .results-email { width: 205px;}
.omnicell-subscription-member-list .results-authdate { width: 80px;}
.omnicell-subscription-member-list .results-checkbox { text-align:center; }
    .omnicell-subscription-member-list .results-prod ul { padding-left: 0; }
        .omnicell-subscription-member-list .results-prod ul li { list-style: none; }
.omnicell-subscription-member-list .resultstable tr:nth-child(even) { background-color: #F2F2F1; }
.omnicell-subscription-member-list .resultstable tr:nth-child(odd) { background-color: #FFFFFF; }

.content-fragment-page .layout-header { display:none;}

.omnicell-subscription-member-list .member-search-container { background-color: #F3F3F2; border: 1px solid #7CB64D; min-height:70px; padding-top: 6px;}
.omnicell-subscription-member-list .member-search-container .search-label {padding-left:3px; font-weight:bold;}
.omnicell-subscription-member-list .member-search-container .member-search { clear:both; padding-left: 130px; padding-top:20px;}
.omnicell-subscription-member-list .member-search-container .member-search input {width: 170px; height:20px; float:left;}
.omnicell-subscription-member-list .member-search-container .member-search .course-search-button {margin:0; padding:0 10px;}
.omnicell-subscription-member-list .member-search-container .member-search .search-criteria { padding-top:10px; padding-bottom:10px;}
.omnicell-subscription-member-list .member-search-container .member-search .search-criteria span { color:#7FA3B7;}

.omnicell-subscription-member-list a.omnicell-button { padding:0 9px 0 4px; letter-spacing:0.4px; font-size:14px; background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; float:right;}
.omnicell-subscription-member-list a.omnicell-button span { background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}

#memberFilter {text-align: center;}