$core_v2_page.SetContentType("text/css")

.content-fragment.group-membership-list .table-list {
  position: relative;
  width: 100%;
}

.tab-set.with-panes {
  margin: 0;
  padding-left: 0;
  overflow: visible !important;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  background: #fff url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/filter_2D00_background.png') repeat-x bottom left;
}

.tab-set.with-panes .tab {
  float: none;
  border-right: solid 1px #ccc;
  border-bottom-width: 0;
  margin: 2px 0px -1px 0px;
  margin-right: 1px;
  color: #0066DD !important;
  padding: 3px 12px 20px 12px;
  line-height: 15px;
  height: 16px;
  border-right: 0px;
  font-weight: normal;
  background: Transparent;
}

.tab-set.with-panes div {
  overflow: visible !important;
}

.tab-set.with-panes div table {
	width: auto;
}

.tab-set table:hover td:last-child a {
  border-right: none !important;
}

.tab-set.with-panes td {
  background: transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/filter_2D00_separator_2D00_background.png') no-repeat bottom right;
}

.tab-set.with-panes .tab {
	border: none;
}

.tab-set.with-panes .tab:hover {
	font-weight: bold !important;
}

.tab-set.with-panes .tab.selected {
  background: #fff;
  color: #000 !important;
  font-weight: bold;
  display: inline-block;
  overflow: visible;
  position: relative;
}

.tab-set.with-panes .tab.selected div {
  background-image: none;
}

.tab-set.with-panes .tab div {
  background-image: none;
  padding: 0;
  overflow: visible !important;
}

.tab-set .tab.selected div {
  background: transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/tab_2D00_set.png') no-repeat right -90px;
}

.content-fragment.group-membership-list .table-column .avatar {
  width: 32px;
  height: 32px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
}

.content-fragment.group-membership-list .table-column .avatar .internal-link img {
	display: inline;
}

.content-fragment.group-membership-list .table-column .user-name {
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
}

.content-fragment.group-membership-list .table-item .table-column fieldset.field-list {
	border: none;
	margin-bottom: 10px;
	padding: 0;
	background-color: transparent;
}

.content-fragment.group-membership-list .table-item .table-column .field-list,
.content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}

.content-fragment.group-membership-list .table-item .table-column {
  overflow: hidden;
}

.content-fragment.group-membership-list .field-item {
  display: inline;
  position: relative;
}

.content-fragment.group-membership-list .field-item-input {
	margin: 0 !important;
}
