## code to check if the customer is a member of fetch
#set ($isFetchMember = false)
#set ($isFetchManager = false)
#set ($isFetchOwner = false)
#set ($MainFetchGroupId = $omnicell_v1_fetch.FetchParentGroupId)
#set($isFetchOwner = $omnicell_v1_implementationroom.IsOwner($MainFetchGroupId, $user.Id))
#set($isFetchManager = $omnicell_v1_implementationroom.IsManager($MainFetchGroupId, $user.Id))
#set($isFetchMember = $omnicell_v1_implementationroom.IsMembershipType($MainFetchGroupId, $user.Id, "Member"))


#if ($isFetchMember == true || $isFetchManager == true || $isFetchOwner == true)
    <a href="/ops/fetch/default.aspx"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/alert_2D00_small.png" align="middle" width="24" height="24" /> Fetch</a> <br />
#else
    $core_v2_widget.Hide()
#end