$core_v2_page.SetContentType("text/css")

.content-fragment.group-application-navigation .internal-link.add-post {
    position: absolute;
    height: 26px;
    font-weight: bold;
    line-height: 19px;
    background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
    padding: 3px 74px 0;
    right: 1px;
    font-size: 0px;
    top: -40px;
    z-index: 1;
}
