$core_v2_page.SetContentType("text/css")

.content-fragment.group-list .content-item.simple .group-avatar {
  position: absolute;
  top: 3px;
  left: 0;
  padding: 1px;
  max-height: 32px;
  max-width: 32px;
}
.content-fragment.group-list .content-item.simple .group-name {
  padding: 0;
  margin: 0 0 0 42px;
  white-space: nowrap;
  font-size: 1em;
  line-height: 30px;
  display: inline-block;
}
.content-fragment.group-list .content-item.simple {
  border-top: 0;
  border-bottom: 1px dotted #ccc;
  padding: 6px 0 0;
  min-height: 42px;
  position: relative;
  overflow: hidden;
}






























