#foreach($group in $groups)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	<li class="content-item simple-extended">
		<span class="group-name"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)">$core_v2_language.Truncate($group.Name, 25, '...')</a></span>
		#if($core_v2_widget.GetBoolValue('showActivity',true))
			#foreach($activity in $core_v2_activityMessage.List("%{GroupId=$group.Id,PageSize=1,IncludeStatus='true'}"))
			#each
				<div class="full-post-header $core_v2_ui.MakeCssClassName($activity.Type)"></div>
				<div class="full-post $core_v2_ui.MakeCssClassName($activity.Type)">
					<div class="post-author">
						<span class="avatar">$core_v2_ui.GetResizedImageHtml($activity.Author.AvatarUrl,32,32,"%{alt=$activity.Author.DisplayName}")</span>
						<span class="user-name">
							#if ($activity.Author.ProfileUrl)
								<a href="$core_v2_encoding.HtmlAttributeEncode($activity.Author.ProfileUrl)" class="internal-link view-user-profile">$activity.Author.DisplayName</a>
							#else
								$activity.Author.DisplayName
							#end
						</span>
					</div>
					<div class="post-content user-defined-markup"><span class="fiji-post-content-icon evolution-post-content-icon post-content-icon $core_v2_ui.MakeCssClassName($activity.Type)"></span>$activity.Body</div>
					<span class="post-date">
						<span class="label">$core_v2_language.GetResource('on')</span>
						<span class="value">$activity.CreatedDate</span>
					</span>
				</div>
				<div class="full-post-footer $core_v2_ui.MakeCssClassName($activity.Type)"></div>
			#end
		#end
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
#nodata
	$core_v2_widget.Hide()
#end