﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage<BasePageViewModel>" %>
<%@ Import Namespace="TelligentEvolution.Mobile.Web.Models" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
	<title><% Html.RenderPartial("Title", Model); %></title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="<%= Url.Content("~/Content/Images/application-icon.png") %>" rel="apple-touch-icon" /> 
	<link href="<%= Url.Content("~/Content/Site.css") %>" rel="stylesheet" type="text/css" media="screen"/>
    <link href="<%= Url.Content("~/Content/Override.css") %>" rel="stylesheet" type="text/css" media="screen"/>
	<script src="<%= Url.Content("~/Scripts/jquery-1.4.1.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.validate.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/master.js") %>" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[
	    $(window).load(function () { setTimeout("window.scrollTo(0, 1);", 100); });
	    var unknownErrorPageUrl = '<%= Url.Action("Unknown", "Error", new { area=""} ) %>';
	// ]]>
	</script>
    <asp:ContentPlaceHolder ID="ScriptContent" runat="server" />
</head>
<body class="<%= Html.UserAgent().GetCompatibleUserAgentCssClass() %>">
    <div>
        <div class="header">
            <div class="site-logo"><a class="internal-link" href='<%= Url.HomeAction() %>'><img src='<%= Html.SiteLogoImageFilePath() %>' alt='<%= Html.SiteName() %>' border="0" /><span></span></a></div>
            <div class="action-container">
                <div class="action-tools">
                    <asp:ContentPlaceHolder ID="ActionTools" runat="server"><%= Html.LinkButton(Html.LocalizedString("Core_Master_HomeLink"), "Index", "Home", new { area = "" }, "internal-link view-home")%></asp:ContentPlaceHolder>
					<!--
                    <%= Html.ScriptLinkButton("Core_Master_Search", "showSearchForm()", new { id = "showSearchButton" }, "internal-link view-search")%>
					-->
                </div>
            </div>
            <% Html.RenderPartial("PageHeader", Model); %>
        </div>

        <div class="content">
            <div class="create-message-content">
                 <asp:ContentPlaceHolder ID="CreateMessage" runat="server"><% Html.RenderPartial("CreateMessage", new CreateMessageViewModel() { ShowForm = Model.ShowCreateMessageButton}); %></asp:ContentPlaceHolder>
            </div>
            <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
        </div>
        
        <div class="footer">
            <% Html.RenderPartial("PageFooter", Model); %>
        </div>
    </div>
</body>
</html>