
#set($userId = false)
#set($userId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('UserId')))
#if($userId <= 0)
	#set($userId = false)
#end

#set($roleId = false)
#set($roleId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('RoleId')))
#if($roleId <= 0)
	#set($roleId = false)
#end

<div id="$core_v2_widget.UniqueId('Message')" class="message success" style="display: none;">$core_v2_language.GetResource('Hubs_InvitationSentMessage')</div>

#if (!$userId && !$roleId)
	<div id="$core_v2_widget.UniqueId('MembershipTabs')">
		<div id="$core_v2_widget.UniqueId('MembersTab')">
			$core_v2_widget.ExecuteFile('view-standard-members.vm')
		</div>
		<div id="$core_v2_widget.UniqueId('RoleMembersTab')">
			$core_v2_widget.ExecuteFile('view-standard-rolemembers.vm')
		</div>
	</div>
#end

#if ($userId)
	#set($groupUser = false)
	#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$userId}"))
	#if ($groupUser)
		<div class="field-list-header"></div>
		<fieldset class="field-list">
		<legend class="field-list-description">$core_v2_language.GetResource('Hubs_EditMember')</legend>
			<ul class="field-list">
				<li class="field-item user-area">
					<span class="field-item-description">
						<span class="avatar">
							#if ($groupUser.User.ProfileUrl)
								<a href="$core_v2_encoding.HtmlAttributeEncode($groupUser.User.ProfileUrl)" class="internal-link view-profile">
									$core_v2_ui.GetResizedImageHtml($groupUser.User.AvatarUrl,80,80,"%{ style='border-width: 0px;', alt=$groupUser.User.DisplayName}")
								</a>
							#else
								$core_v2_ui.GetResizedImageHtml($groupUser.User.AvatarUrl,80,80,"%{ style='border-width: 0px;', alt=$groupUser.User.DisplayName}")
							#end
						</span>
						<span class="user-name">
							#if ($groupUser.User.ProfileUrl)
								<a href="$core_v2_encoding.HtmlAttributeEncode($groupUser.User.ProfileUrl)" class="internal-link view-profile">
									<span></span>$groupUser.User.DisplayName
								</a>
							#else
								<span></span>$groupUser.User.DisplayName
							#end
							#if($groupUser.User.Username != $groupUser.User.DisplayName)
								($groupUser.User.Username)
							#end
						</span>
					</span>
				</li>
				<li class="field-item membership-selection">
					<label for="$core_v2_widget.UniqueId('EditUserMembershipType')" class="field-item-header">$core_v2_language.GetResource('Hubs_MembershipType')</label>
					<span class="field-item-input"><select id="$core_v2_widget.UniqueId('EditUserMembershipType')" name="$core_v2_widget.UniqueId('EditUserMembershipType')">
						<option value="Owner"#if($groupUser.MembershipType == 'Owner') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Owner')</option>
						#if ($group.GroupType != 'Joinless')
							<option value="Manager"#if($groupUser.MembershipType == 'Manager') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Manager')</option>
							<option value="Member"#if($groupUser.MembershipType == 'Member') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Member')</option>
						#end
					</select></span>
				</li>
				<li class="field-item membership-buttons">
					<span class="field-item-input"><a href="#" id="$core_v2_widget.UniqueId('EditUserSave')" class="internal-link update-member" data-userid="$userId"><span></span>$core_v2_language.GetResource('Save')</a></span>
					<span class="field-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'UserId='))" class="internal-link cancel"><span></span>$core_v2_language.GetResource('Cancel')</a></span>
				</li>
			</ul>
		</fieldset>
		<div class="field-list-footer"></div>
	#end
#elseif ($roleId)
	#set($groupRole = false)
	#set($groupRole = $core_v2_groupRoleMember.Get($group.Id, "%{RoleId=$roleId}"))
	#if ($groupRole)
		<div class="field-list-header"></div>
		<fieldset class="field-list">
			<legend class="field-list-description">$core_v2_language.GetResource('Hubs_EditMember')</legend>
			<ul class="field-list">
				<li class="field-item  user-area">
					<span class="field-item-description">
						<span class="avatar">$!core_v2_ui.GetResizedImageHtml($groupRole.Role.ImageUrl,80,80,"%{ style='border-width: 0px;'}")</span>
						<span class="user-name">$groupRole.Role.Name</span>
					</span>
				</li>
				<li class="field-item membership-selection">
					<label for="$core_v2_widget.UniqueId('EditRoleMembershipType')" class="field-item-header">$core_v2_language.GetResource('Hubs_MembershipType')</label>
					<span class="field-item-input"><select id="$core_v2_widget.UniqueId('EditRoleMembershipType')">
						<option value="Owner"#if($groupRole.MembershipType == 'Owner') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Owner')</option>
						#if ($group.GroupType != 'Joinless')
							<option value="Manager"#if($groupRole.MembershipType == 'Manager') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Manager')</option>
							<option value="Member"#if($groupRole.MembershipType == 'Member') selected="selected"#end>$core_v2_language.GetResource('Hubs_MembershipType_Member')</option>
						#end
					</select></span>
				</li>
				<li class="field-item membership-buttons">
					<span class="field-item-input"><a href="#" id="$core_v2_widget.UniqueId('EditRoleSave')" class="internal-link update-member" data-roleid="$roleId"><span></span>$core_v2_language.GetResource('Save')</a></span>
					<span class="field-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'RoleId='))" class="internal-link cancel"><span></span>$core_v2_language.GetResource('Cancel')</a></span>
				</li>
			</ul>
		</fieldset>
		<div class="field-list-footer"></div>
	#end
#end

#if (!$userId && !$roleId && $core_v2_nodePermission.Get('groups',$group.Id,'Group_ModifyMembership').IsAllowed)
	<div id="$core_v2_widget.UniqueId('AddMemberTabs')">
		<div id="$core_v2_widget.UniqueId('AddMemberTab')">
			<div class="field-list-header"></div>
			<fieldset class="field-list">
				<legend class="field-list-description">$core_v2_language.GetResource('Hubs_AddMember')</legend>
				<ul class="field-list">
					<li class="field-item username">
						<label for="$core_v2_widget.UniqueId('AddMemberUserName')" class="field-item-header">$core_v2_language.GetResource('Groups_ManageMembers_AddUserRole')</label>
						<span class="field-item-input"><input type="text" id="$core_v2_widget.UniqueId('AddMemberUserName')" name="$core_v2_widget.UniqueId('AddMemberUserName')" style="width: 260px;" /></span>
						<span class="field-item-validation" style="display: none;"></span>
					</li>
					<li class="field-item membership-type">
						<label for="$core_v2_widget.UniqueId('AddMemberMembershipType')" class="field-item-header">$core_v2_language.GetResource('Hubs_MembershipType')</label>
						<span class="field-item-input"><select id="$core_v2_widget.UniqueId('AddMemberMembershipType')" name="$core_v2_widget.UniqueId('AddMemberMembershipType')">
							<option value="Owner">$core_v2_language.GetResource('Hubs_MembershipType_Owner')</option>
							#if ($group.GroupType != 'Joinless')
								<option value="Manager">$core_v2_language.GetResource('Hubs_MembershipType_Manager')</option>
								<option value="Member" selected="selected">$core_v2_language.GetResource('Hubs_MembershipType_Member')</option>
							#end
						</select></span>
					</li>
					<li class="field-item add-member">
						<span class="field-item-input"><a href="#" id="$core_v2_widget.UniqueId('AddMemberSave')"class="internal-link add-member disabled"><span></span>$core_v2_language.GetResource('Groups_GroupMembershipList_AddMembers')</a></span>
					</li>
				</ul>
			</fieldset>
			<div class="field-list-footer"></div>

			#if($core_v2_configuration.EnableLdap)
				<div class="message info">$core_v2_language.GetResource('Groups_Membership_AddDirectoryGroup_Warning')</div>
			#end
		</div>
		<div id="$core_v2_widget.UniqueId('InviteMemberByNameTab')">
			<div class="field-list-header"></div>
			<fieldset class="field-list">
				<legend class="field-list-description">$core_v2_language.GetResource('Groups_GroupMembershipList_InviteByName')</legend>
				<ul class="field-list">
					<li class="field-item required user-name">
						<label class="field-item-header" for="$core_v2_widget.UniqueId('InviteMemberByNameUserName')">$core_v2_language.GetResource('Groups_GroupMembershipList_UserNames')</label>
						<span class="field-item-input"><input type="text" id="$core_v2_widget.UniqueId('InviteMemberByNameUserName')" name="$core_v2_widget.UniqueId('InviteMemberByNameUserName')" style="width: 260px;" /></span>
						<span class="field-item-validation" style="display: none;"></span>
					</li>
					<li class="field-item membership-type">
						<label for="$core_v2_widget.UniqueId('InviteMemberByNameMembershipType')" class="field-item-header">$core_v2_language.GetResource('Hubs_MembershipType')</label>
						<span class="field-item-input"><select id="$core_v2_widget.UniqueId('InviteMemberByNameMembershipType')" name="$core_v2_widget.UniqueId('InviteMemberByNameMembershipType')">
							<option value="Owner">$core_v2_language.GetResource('Hubs_MembershipType_Owner')</option>
							#if ($group.GroupType != 'Joinless')
								<option value="Manager">$core_v2_language.GetResource('Hubs_MembershipType_Manager')</option>
								<option value="Member" selected="selected">$core_v2_language.GetResource('Hubs_MembershipType_Member')</option>
							#end
						</select></span>
					</li>
					<li class="field-item invite-message">
						<label for="$core_v2_widget.UniqueId('InviteMemberByNameInviteMessage')" class="field-item-header">$core_v2_language.GetResource('Groups_GroupMembershipList_Message')</label>
						<span class="field-item-input"><textarea id="$core_v2_widget.UniqueId('InviteMemberByNameInviteMessage')" name="$core_v2_widget.UniqueId('InviteMemberByNameInviteMessage')"  rows="5" cols="50"></textarea></span>
					</li>
					<li class="field-item invite-member">
						<span class="field-item-input"><a href="#" id="$core_v2_widget.UniqueId('InviteMemberByNameInvite')" class="internal-link invite-member submit-button disabled"><span></span>$core_v2_language.GetResource('Groups_GroupMembershipList_SendInvitation')</a></span>
					</li>
				</ul>
			</fieldset>
			<div class="field-list-footer"></div>
		</div>
		<div id="$core_v2_widget.UniqueId('InviteMemberByEmailTab')">
			<div class="field-list-header"></div>
			<fieldset class="field-list invite-member-email">
				<legend class="field-list-description">$core_v2_language.GetResource('Hubs_InviteMemberByEmail')</legend>
				<ul class="field-list">
					<li class="field-item required email">
						<label class="field-item-header" for="$core_v2_widget.UniqueId('InviteMemberByEmailEmailAddreses')">$core_v2_language.GetResource('Hubs_EmailAddresses')</label>
						<span class="field-item-input"><textarea id="$core_v2_widget.UniqueId('InviteMemberByEmailEmailAddreses')" name="$core_v2_widget.UniqueId('InviteMemberByEmailEmailAddreses')" rows="3" cols="50"></textarea></span>
						<span class="field-item-validation" style="display: none;"></span>
					</li>
					<li class="field-item membership-type">
						<label for="$core_v2_widget.UniqueId('InviteMemberByEmailMembershipType')" class="field-item-header">$core_v2_language.GetResource('Hubs_MembershipType')</label>
						<span class="field-item-input"><select id="$core_v2_widget.UniqueId('InviteMemberByEmailMembershipType')" name="$core_v2_widget.UniqueId('InviteMemberByEmailMembershipType')">
							<option value="Owner">$core_v2_language.GetResource('Hubs_MembershipType_Owner')</option>
							#if ($group.GroupType != 'Joinless')
								<option value="Manager">$core_v2_language.GetResource('Hubs_MembershipType_Manager')</option>
								<option value="Member" selected="selected">$core_v2_language.GetResource('Hubs_MembershipType_Member')</option>
							#end
						</select></span>
					</li>
					<li class="field-item required message-body">
						<label for="$core_v2_widget.UniqueId('InviteMemberByEmailInviteMessage')" class="field-item-header">$core_v2_language.GetResource('CreateEditPost_Body')</label>
						<span class="field-item-input"><textarea id="$core_v2_widget.UniqueId('InviteMemberByEmailInviteMessage')" name="$core_v2_widget.UniqueId('InviteMemberByEmailInviteMessage')" rows="5" cols="50"></textarea></span>
						<span class="field-item-validation" style="display: none;"></span>
					</li>
					<li class="field-item invite-member">
						<span class="field-item-input"><a id="$core_v2_widget.UniqueId('InviteMemberByEmailInvite')" href="#" class="internal-link invite-member submit-button disabled"><span></span>$core_v2_language.GetResource('Groups_GroupMembershipList_SendInvitation')</a></span>
						<span class="processing" style="visibility: hidden;"></span>
					</li>
				</ul>
			</fieldset>
			<div class="field-list-footer"></div>
		</div>
	</div>
#end

#registerEndOfPageHtml('telligent.evolution.widgets.groupMembershipList')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl("ui.js"))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
		jQuery(function(j){
			j.telligent.evolution.widgets.groupMembershipList.register({
				groupId: $group.Id,
				wrapperId: '$core_v2_widget.WrapperElementId',
				message: j('#$core_v2_widget.UniqueId('Message')'),
				membershipTabs: j('#$core_v2_widget.UniqueId('MembershipTabs')'),
				membersTabId: '$core_v2_widget.UniqueId('MembersTab')',
				membersTabText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_GroupMembershipList_Members'))',
				roleMembersTabId: '$core_v2_widget.UniqueId('RoleMembersTab')',
				roleMembersTabText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_GroupMembershipList_RoleMembers'))',
				#set($sortBy = false)
				#set($sortBy = $core_v2_page.GetQueryStringValue('SortBy'))
				membershipTabSelectedIndex: #if($sortBy == 'RoleName' || $sortBy == 'RoleAddedDate' || $sortBy == 'RoleMembershipType') 1#else 0#end,
				addMemberTabs: j('#$core_v2_widget.UniqueId('AddMemberTabs')'),
				addMemberTabId: '$core_v2_widget.UniqueId('AddMemberTab')',
				addMemberTabText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Hubs_AddMember'))',
				inviteMemberByNameTabId: '$core_v2_widget.UniqueId('InviteMemberByNameTab')',
				inviteMemberByNameTabText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_GroupMembershipList_InviteByName'))',
				inviteMemberByEmailTabId: '$core_v2_widget.UniqueId('InviteMemberByEmailTab')',
				inviteMemberByEmailTabText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Hubs_InviteMemberByEmail'))',
				deleteMemberConfirmationText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('CF_GroupList_ConfirmRemoveMember'))',
				editUserMembershipType : j('#$core_v2_widget.UniqueId('EditUserMembershipType')'),
				editUserSave : j('#$core_v2_widget.UniqueId('EditUserSave')'),
				editRoleMembershipType : j('#$core_v2_widget.UniqueId('EditRoleMembershipType')'),
				editRoleSave : j('#$core_v2_widget.UniqueId('EditRoleSave')'),
				addMemberUserName : j('#$core_v2_widget.UniqueId('AddMemberUserName')'),
				addMemberMembershipType : j('#$core_v2_widget.UniqueId('AddMemberMembershipType')'),
				addMemberSave : j('#$core_v2_widget.UniqueId('AddMemberSave')'),
				addMemberUserNameMissingText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_MissingUserNames'))',
				inviteMemberByNameUserName : j('#$core_v2_widget.UniqueId('InviteMemberByNameUserName')'),
				inviteMemberByNameMembershipType : j('#$core_v2_widget.UniqueId('InviteMemberByNameMembershipType')'),
				inviteMemberByNameMessage : j('#$core_v2_widget.UniqueId('InviteMemberByNameInviteMessage')'),
				inviteMemberByNameInvite : j('#$core_v2_widget.UniqueId('InviteMemberByNameInvite')'),
				inviteMemberByNameUserNameMissingText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_MissingInviteUserNames'))',
				inviteMemberByEmailEmailAddressesSelector : '#$core_v2_widget.UniqueId('InviteMemberByEmailEmailAddreses')',
				inviteMemberByEmailMembershipType : j('#$core_v2_widget.UniqueId('InviteMemberByEmailMembershipType')'),
				inviteMemberByEmailMessageSelector : '#$core_v2_widget.UniqueId('InviteMemberByEmailInviteMessage')',
				inviteMemberByEmailInvite : j('#$core_v2_widget.UniqueId('InviteMemberByEmailInvite')'),
				inviteMemberByEmailEmailAddressRequiredText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_MissingEmails'))',
				inviteMemberByEmailEmailAddressInvalidText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_InvalidEmails'))',
				inviteMemberByEmailMessageRequiredText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_MissingMessageBody'))',
				findUsersOrRolesUrl : '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('find-users-or-roles.vm'))',
				noUserOrRoleMatchesText : '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('UserLookUpTextBox_NoMatches_AllUsers'))',
				ajaxErrorText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('Groups_ManageMembers_AjaxError'))',
				sendInvitationUrl : '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('send-invitation.vm'))',
				addMemberUrl : '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('add-user-or-role.vm'))',
				cleanUrl: '$core_v2_encoding.JavascriptEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'UserId=&RoleId='))'
			});
		});
	</script>
#end