/*

Add CSS Overrides to this file.

*/

.avatar {position: relative; float: left; padding-right: 5px; left: 0; top: 0px;}
.users-list .list-item {padding: 4px;}
.applications.item-list .list-item {padding: 4px;}
.application-content.item-list .list-item {padding:4px;}
.activity.item-list .list-item {padding: 4px;}
.group-details {padding: 5px;}
.tab-container .tab-menu .first-item.tab-item {background: url("Images/text-button-white-bg.gif") no-repeat left top;}
.tab-container .tab-menu .first-item.selected.tab-item {background: url("Images/text-button-blue-bg.gif") no-repeat scroll left top transparent;}
.activity-avatar {display: none;}
.content-list.user .content-list-item.user .avatar {display: none;}
.content-list.user {display:none;}
.content-list-header.user {display: none;}