$core_v2_page.SetContentType("text/css") 
.overview-list .content-list .content-item {
  margin: 0;
  padding: .1em 0;
  border-bottom: dotted 1px #ccc;
}
.overview-list .abbreviated-post {
  position: relative;
  padding: 10px 0 10px 0px;
}
.overview-list .content-fragment.thread-list .filter .separator {
  padding: 25px 0 0 0;
}
.overview-list .filter .filter-option.selected a {
  background-color: white;
  color: #52524a !important;
}
.overview-list .content-fragment.thread-list .filter-option {
  padding: 7px !important;
}
.overview-list .content-fragment.thread-list .filter-option.selected {
  background: #fff;
  height: 20px;
  padding-bottom: 6px !important;
}
.content-fragment.overview-list .filter-option {
  float: left;
  padding: 7px 7px 0px 7px;
  height: 20px;
  box-sizing: content-box;
}
.overview-list .content-fragment.thread-list .filter-option {
  float: left;
  height: 14px !important;
}
.jcarousel-skin-tango .jcarousel-item span.productName {
  /* float: left; */
  line-height: 15px;
  display: inline-block;
  width: 170px;
  vertical-align: middle;
}
.overview-list .product-list img {
  display: inline;
}
.common-home .product-list .jcarousel-skin-tango .jcarousel-item {
  height: 54px;
  width: 247px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
  height: 540px;
  width: 247px;
}
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.overview-list .content-fragment.thread-list .filter {
    height: 44px !important;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 245px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
}
.user-userprofile .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 220px;
    width:  247px;
}

.common-home .product-list .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 540px;
    width:  247px;
}

.jcarousel-skin-tango .jcarousel-item {
}

.user-userprofile .jcarousel-skin-tango .jcarousel-item {
    height: 40px;
    width: 247px;
}

.common-home .product-list .jcarousel-skin-tango .jcarousel-item {
    height: 54px;
    width: 247px;
}

.user-userprofile .jcarousel-skin-tango .jcarousel-item {
    height: 54px;
}


.jcarousel-skin-tango .jcarousel-item  span.productName{
	line-height:15px;
	display:inline-block;
	width:170px;
	vertical-align:middle;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/next_2D00_horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/prev_2D00_horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/prev_2D00_horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/next_2D00_horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {

    position: absolute;
    left: 0;
    width: 249px;
    height: 14px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/scrolldown.png) no-repeat center 0;

	}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -12px;
    left: 0;
    width: 249px;
    height: 14px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/scrollup.png) no-repeat center 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-container-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 600px;
}


.training-list .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 325px;
}

.training-list .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 325px;
}

.training-list .jcarousel-container-vertical {
    width: 325px;
}

.static-training .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 622px;
}

.static-training .jcarousel-skin-tango .jcarousel-item {
    width: 325px;
}

.scheduled-training .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 650px;
}

.scheduled-training .jcarousel-skin-tango .jcarousel-item {
    width: 325px;
}


.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 439px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 439px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-container-vertical {
    width: 459px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 580px;
    width: 459px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-item {
    width: 439px;
}

.overview-documentation-list .jcarousel-skin-tango .jcarousel-item {
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts ul
{
	list-style-type: none; 
	list-style-position: inside; 
	list-style-image: none; 
	padding-left: 0px; 
}
