## load friendshps to review
#set ($friendships = $core_v2_friendship.List("%{ FriendshipState = 'Pending', RequestorId = $user.Id, PageIndex = $pageIndex, PageSize = 21, SortBy = 'LastModifiedDate', SortOrder = 'Descending' }"))

## have a friendship counts ready for the contextual tabs to show
#set ($reviewFriendshipCount = $core_v2_friendship.List("%{ FriendshipState = 'Pending', RecipientId = $user.Id, PageIndex = 0, PageSize = 1 }").TotalCount)
#set ($pendingFriendshipCount = $friendships.TotalCount)
$core_v2_widget.ExecuteFile('standard-tabs.vm')

#foreach ($friendship in $friendships)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	#set ($friend = false)
	#if ($friendship.Recipient && $friendship.Recipient.Id == $user.Id)
		#set ($friend = $friendship.Requestor)
	#else
		#set ($friend = $friendship.Recipient)
	#end
	#if ($friend)
		<li class="content-item" data-friendid="$friend.Id">
			<div class="content-list-header"></div>
			<div class="full-post">
				<span class="avatar">
					#if ($friend.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($friend.ProfileUrl)">
							$core_v2_ui.GetResizedImageHtml($friend.AvatarUrl, 60, 60, "%{border='0', alt=$friend.DisplayName}")
						</a>
					#else
						$core_v2_ui.GetResizedImageHtml($friend.AvatarUrl, 60, 60, "%{border='0', alt=$friend.DisplayName}")
					#end
				</span>
				<span class="user-name">
					#if ($friend.ProfileUrl)
						<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($friend.ProfileUrl)">
							<span></span>$friend.DisplayName
						</a>
					#else
						<span></span>$friend.DisplayName
					#end
				</span>

				<div class="post-actions">
					#if ($isUserAccessing)
						<div class="navigation-list-header"></div>
						<ul class="navigation-list">
							#set($url = false)
							#set($url = $core_v2_urls.AddConversation($friend.Id))
							#if($url)
								<li class="navigation-item">
									<a class="internal-link start-conversation" href="$core_v2_encoding.HtmlAttributeEncode($url)">
										<span></span>$core_v2_language.GetResource('EditProfile_FriendsPrivateMessage')
									</a>
								</li>
							#end
							<li class="navigation-item">
								<a class="internal-link cancel-friend" href="#">
									<span></span>$core_v2_language.GetResource('FriendRequest_Cancel')
								</a>
							</li>
							<li class="navigation-item">
								#set ($follows = 'false')
								#if ($core_v2_following.Get($user.Id, "%{ FollowingId = $friend.Id }"))
									#set ($follows = 'true')
								#end
								<a class="internal-link follow-user" data-follows="$follows" href="javascript:void(0)" style="display: inline-block;"><span></span></a>
							</li>
						</ul>
						<div class="navigation-list-footer"></div>
					#end
				</div>
			</div>
			<div class="full-post-footer"></div>
		</li>
	#end
#afterall
	</ul>
	<div class="content-list-footer"></div>
#nodata
	<div class="message norecords">
		$core_v2_language.GetResource('FriendRequest_NoneToReview')
	</div>
#end
$core_v2_ui.Pager($friendships.PageIndex, $friendships.PageSize, $friendships.TotalCount)

