###set($filterGroupId = false)
###set($filterGroupId = $core_v2_page.GetQueryStringValue('FilterGroupId'))
###set($filterFormatId = false)
###set($filterFormatId = $core_v2_page.GetQueryStringValue('FilterFormatId'))

<div class="training-list static-training" style="width:325px;float:left;margin-left:20px;">
<h3 style="font-weight: normal; margin-top: 5px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px;">Online Courses and Videos</h3>
<div style="border:solid 1px #D4E7C4; width:325px;">
	<p style="margin:10px;">Below is a list of downloadable training courses and videos.</p>

##	<span class="field-item-input" style="margin:10px;">
##		#set($options = $omnicell_authentication.ListFormatTypes())
##		#foreach($option in $options)
##		#beforeall
##			<select id="$core_v2_widget.UniqueId('MediaFormat')" name="mediaFormatId">
##				<option value="">Format</option>
##		#each
##			#set($selected = "")
##			#if($filterFormatId  == $option.Id)
##				#set($selected = " selected")
##			#end
##		
##			<option$selected value="$option.Id">$option.Value</option>
##		
##		#afterall
##			</select>
##		#nodata
##			<p>Error! No media formats found!</p>	
##		#end
##
##	</span>
##
##	<span class="field-item-input" style="margin:10px;">
##		#set($options = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Accessing.Id,PageSize=100}"))
##		#foreach($option in $options)
##		#beforeall
##			<select id="$core_v2_widget.UniqueId('SelectedProductGroupId')" name="selectedProductGroupId">
##				<option value="">My Products</option>
##		#each
##			#set($groupUser = false)
##			#set($groupUser = $core_v2_groupUserMember.Get($option.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
##			##<p>$group.Name ($group.Id):$groupUser.MembershipType</p>
##			#if ($groupUser != false && $groupUser.IsDirectMember)
##				#set($selected = "")
##				#if($filterGroupId  == $option.Id)
##					#set($selected = " selected")
##				#end
##		
##				<option$selected value="$option.Id">$option.Name</option>
##			#end		
##		#afterall
##			</select>
##		#nodata
##			<p>Error! No media formats found!</p>	
##		#end
##
##	</span>

	#set ($selectedProductGroup = "")
	#set ($selectedFormat = "")
	#set ($filterAllGroups  = 'false')
	<div style="width:45%;float:left;margin-left:10px;">
		$core_v2_widget.ExecuteFile('product-list.vm')
	</div>
	<div style="width:45%;float:left;margin-left:10px;">
		$core_v2_widget.ExecuteFile('format-list.vm')
	</div>
	<div style="clear:both;margin:10px;">

		#if($selectedProductGroup != "")
			<p><strong>Product</strong> : $selectedProductGroup</p>
		#end

		#if($selectedFormat != "")
			<p><strong>Format</strong> : $selectedFormat </p>
		#end

	</div>


#foreach($media in $staticMedias)
#beforeall
	<ul style="list-style-type: none; list-style-position: inside; list-style-image: none; padding-left: 0px; width:325px;" class="jcarousel-skin-tango omnicarousel">
#each
#if ($media.MediaGalleryType.Id == 2 || $media.MediaGalleryType.Id == 4)

	<li style="width:325px; border-top:solid 1px #F5F5F5; margin-bottom:8px;">
		<span style="float:left;width:20px;margin:10px;">
			<a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" border="0">
				#if ($media.MediaFormat.Id == 4)
					<img src=" /cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/training_2D00_video_2D00_icon.jpg" style="border:none" />
				#else
					<img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/training_2D00_course_2D00_icon.jpg" style="border:none" />
				#end
			</a>
		</span>
		<span style="float:left;width:275px;margin-top:10px">
			<span style="display:block;"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" border="0">$media.Title</a></span>
		
        <span style="float:left;width:265px;margin-right:10px;margin-bottom:3px;color:#999999;font-size:11px;"><strong>Product(s):</strong><br />
				#set($groupListString = "")
				#foreach($group in $media.Groups)
					#set($groupUser = false)
					#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
					#if ($groupUser != false && $groupUser.IsDirectMember)
                        <a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-post product-name">$group.Name<br></a>
##						#set($groupListString = "$groupListString $group.Name<br>")
					#end
				#end

				#if($groupListString.Length > 50)
					<span title="$groupListString" alt="$groupListString" class="hoverDetail">$core_v2_language.Truncate($groupListString, 50, '...')</span>
				#else
					$groupListString
				#end

##				#foreach($group in $media.Groups)
##					#set($groupUser = false)
##					#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
##					#if ($groupUser != false && $groupUser.IsDirectMember)
##						<a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-post">$group.Name</a>
##					#end
##				#end
			</span>

			#set($audienceList ="")
			#if($media.Audiences.Count > 0)
				#set($audienceList ="<strong>For:</strong><br />")
				#foreach($audience in $media.Audiences)
					#set($audienceList = "$audienceList $audience.Value <br />")
				#end
			#end
			<span style="float:left;width:145px;color:#999999;font-size:11px;">$audienceList</span>
		</span>
		<div style="clear:both;"></div>
	</li>
#end
#nodata
	<div class="message norecords" style="margin:10px;">$core_v2_language.GetResource('NoRecords')</div>
#afterall
	</ul>
#end
<div style="clear:both"></div>

</div>
</div>