$core_v2_page.SetContentType("text/css")

.omnicell-projecthealth table {
    border-spacing: 2px;
    border-collapse: separate;
}

.omnicell-projecthealth fieldset .field-list .field-item {
    margin-top: 0 !important;
}

.omnicell-projecthealth fieldset .field-list .field-item .field-item-input {
  margin-bottom: 0;
}

.omnicell-projecthealth .field-item .field-item-input input,
.omnicell-projecthealth .field-item .field-item-input textarea { width: 100%;}
.omnicell-projecthealth .field-item .field-item-input .submit-button { display: inline-table; display: -moz-inline-box; display: inline-block; margin: 1px; padding: 4px; border-style: solid; border-width: 1px; border-color: #999999; border-top-color: #cccccc; border-left-color: #cccccc; background-color: #eeeeee; color: #333333; font-family: Arial, Helvetica; font-size: 14px; font-weight: bold; white-space: nowrap; }
.omnicell-projecthealth .field-item .field-item-header { font-size:12px !important;}

.omnicell-projecthealth legend { background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px; }
    .omnicell-projecthealth legend span { float: right; color: #f00; font-size: 15px; margin-top: 7px; }
    
.omnicell-projecthealth .filtercontainer .header {border-bottom: 1px solid #F3F3F2; padding-bottom: 5px;}
.omnicell-projecthealth .product-list { float:left; margin-right: 10px; width: auto; }
.omnicell-projecthealth .projecthealth-date { float:left; }
.omnicell-projecthealth .projecthealth-date input { height:15px; width:80px; }
.omnicell-projecthealth .projecthealth-date span img {margin-left: 5px !important; margin-right: 5px !important; margin-top: -6px !important; padding: 0px !important; border: 0px !important; height: 15px !important; }
.omnicell-projecthealth .projecthealth-status { float:left; margin-left: 10px; margin-right: 10px;}
.omnicell-projecthealth .projecthealth-completionstatus { float:left;}
.omnicell-projecthealth .projecthealth-completionstatus span select { width:200px;}
.omnicell-projecthealth .projecthealth-daterangeto span{float: left;margin-left: 10px;margin-right: 10px;margin-top: 25px;}

.omnicell-projecthealth .projecthealth-tom {
  float: left;
  width: 48%;
  padding-right: 10px;
}
.omnicell-projecthealth .projecthealth-tom span input{ min-width:180px;}
.omnicell-projecthealth .projecthealth-dod { float:left; width: 50%; }
.omnicell-projecthealth .projecthealth-dod span input{ min-width:180px;}

.omnicell-projecthealth .projecthealth-csn { float:left; width: 33%; }
.omnicell-projecthealth .projecthealth-csn span input{ min-width:180px;}
.omnicell-projecthealth .projecthealth-facilitycity { float:left; width: 33%; }
.omnicell-projecthealth .projecthealth-facilitycity span input{ min-width:180px;}
.omnicell-projecthealth .projecthealth-facilitystate { float:left; width: 33%; }
.omnicell-projecthealth .projecthealth-facilitystate span select { min-width:180px;}

.omnicell-projecthealth .projecthealth-facilitycountry { float:none; width: 33%; }
.omnicell-projecthealth .projecthealth-facilitycountry span select { min-width:180px;}

.omnicell-projecthealth .resultscontainer .pager.ui-page{ text-align: left;}
.omnicell-projecthealth .resultscontainer div.title{/*background: #ccc; font-size: 18px; padding: 5px; margin-bottom: 10px;*/
    background-image:-moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%); 
    background-image:-webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
    background-image:-webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    border-color:rgb(226,226,225);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
    color: #FFF;
    font-size: 20px;
    padding: 10px 0 10px 10px;

}
.omnicell-projecthealth .resultscontainer div.title span{ float: right; font-size: 11px; padding-top: 0px; margin-right:15px; }
.omnicell-projecthealth .resultscontainer .resultstable{ width: 100%;}
.omnicell-projecthealth .resultscontainer td { padding-right:5px; font-size:12px;}
.omnicell-projecthealth .resultscontainer td.tablecol { padding-right:5px;}
.omnicell-projecthealth .resultscontainer td.room { width:200px;}
.omnicell-projecthealth .resultscontainer td.state { width:125px;}
.omnicell-projecthealth .resultscontainer td.city { width:125px;}
.omnicell-projecthealth .resultscontainer td.postdate { width:50px;}
.omnicell-projecthealth .resultscontainer td.product { width:125px;}
.omnicell-projecthealth .resultscontainer td.completionstatus { width:200px;}
.omnicell-projecthealth .resultscontainer td.healthstatus { width:35px;}
/*.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-asc {background: url("$core_v2_widget.GetFileUrl('sort_up_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}
.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-desc {background: url("$core_v2_widget.GetFileUrl('sort_down_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}
*/
.omnicell-projecthealth .resultscontainer tr:nth-child(odd) { background-color:#fff; }
.omnicell-projecthealth .resultscontainer tr:nth-child(even) { background-color:#F3F3F2; }

.omnicell-projecthealth h3.header {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}       

.omnicell-projecthealth fieldset.field-list {
    border: none;
    margin: 1em 0;
    padding: 0;
}

.omnicell-projecthealth ul.field-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.omnicell-projecthealth .projecthealth-tom,
.omnicell-projecthealth .projecthealth-dod,
.omnicell-projecthealth .projecthealth-csn,
.omnicell-projecthealth .projecthealth-facilitycity,
.omnicell-projecthealth .projecthealth-daterangeto, {
  float: left !important;
  margin-right: 10px !important; 
}

.omnicell-projecthealth .projecthealth-facilitystate,
.omnicell-projecthealth .projecthealth-facilitycountry {
    margin: 0;
    padding: .5em 0;
}

.omnicell-projecthealth .projecthealth-date,
.omnicell-projecthealth .projecthealth-completionstatus {
    float: left;
    margin: 0;
    padding: .5em 0;
}

.omnicell-projecthealth fieldset .field-list .field-item.projecthealth-status {
    float: left;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: .5em 0;
}

.omnicell-projecthealth .field-list .field-item .field-item-header {
    margin: 0;
    font-weight: bold;
}

.omnicell-projecthealth .projecthealth-date input {
  height: 26px;
  width: 80px;
}
