#foreach($member in $members)
#beforeall
	<div class="content-list-header"></div>
		<ul class="content-list">
#each

	#set ($displayName = "")
	#set ($displayName = $member.User.DisplayName)
	#if ($displayName == "")
		#set ($member = $member.Value)
		#set ($displayName = $member.User.DisplayName)
	#end

	<li class="content-item">
##<p>$member :($core_v2_utility.Describe($member))</</p>
		<span class="avatar">
			#if ($member.User.ProfileUrl)
				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">
					$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,15,15,"%{ style='border-width: 0px;', alt='$displayName'}")
				</a>
			#else
                #if($member.User.AvatarUrl !="")
				$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,15,15,"%{ style='border-width: 0px;', alt='$displayName'}")
                #end
			#end
		</span>
		<span class="user-name">
			#if ($member.User.ProfileUrl)
				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">$displayName</a>
			#else
				$displayName
			#end
		</span>
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
	#set($url = false)
	#set($url = $core_v2_groupUrls.MemberList($group.Id))
	#if ($url)
		<div class="navigation-list-header"></div>
		<ul class="navigation-list">
			<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-group-membership"><span></span>$core_v2_language.GetResource('MoreEllipsis')</a></li>
		</ul>
		<div class="navigation-list-footer"></div>
	#end
#end