## Show the links that are saved in the widget 
##set($relatedDocItems = "") #set($relatedDocItems = $core_v2_widget.GetStringValue("relatedDocItems", ""))
#set($rd = $omnicell_v1_utility.GetRelatedDocumentsByGroupId($widgetId))
#set($relatedDocItems = "") #set($relatedDocItems = $rd.DocumentValues)
##INITIAL STRING: $relatedDocItems<BR>
#set($iListResponse = $core_v2_utility.Split(";", $relatedDocItems))
##set($stringResponse = $core_v2_utility.Describe($iListResponse))
##LIST: $stringResponse<BR>
#set($relatedDocUpdated = "")

#foreach($file in $iListResponse)
#each
    #set($iElement = $core_v2_utility.Split(",", $file))
    #set($fileID = 0)
    #set($fileID = $core_v2_utility.ParseInt($iElement.get_item(0)))
    #set($fileName = $iElement.get_item(1))
    #set ($media = false)
    #set($media = $omnicell_v1_document.Get($fileID))
    #set($stringResponse = $core_v2_utility.Describe($media))
    #set ($relatedDocUpdated = "$relatedDocUpdated$fileID,$media.Title;")    
#afterall

#end
##FINAL STRING: $relatedDocUpdated<BR>
#set($relatedDocItems=$relatedDocUpdated)


<div id="listtoreplace">
    <ul class="sidebar_links" id="sortable3">
        
    </ul>
</div>

<div>
    <ul class="sidebar_links" id="sortable4">
        
    </ul>
</div>

<script type="text/javascript">
// retrieve the links and build the HTML
jQuery(document).ready(function() {
    var olPropertyValue = "$relatedDocItems";
    var htmlItem = "";
    
    if(olPropertyValue != "") {        
        var olSelItems = olPropertyValue.split(';');
        for(var i = 0; i< olSelItems.length-1; i++){
            var nv = olSelItems[i].split(',');
            htmlItem += "<li><a href=\"/documents/m/documents/" + nv[0] + "/download.aspx\" class=\"internal-link view-post\">";
            htmlItem += "<span class=\"olTxt\">"+nv[1]+"</span><a></li>";
            // alert(htmlItem);            
            // jQuery("#sortable3").append(htmlItem);                
        }
        jQuery("#listtoreplace").html('<ul class="sidebar_links" id="sortable3">' + htmlItem + '</ul>');
    }
});

</script>


#set($curGroup = $core_v2_group.Current)
#set($pGroupId = $curGroup.ParentGroupId)
#set($LinkBackURL = $core_v2_encoding.UrlEncode($curGroup.Url))

##<input type="text" id="relatedDocList" name="relatedDocList" value="" />
##<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_group.Current.Url, "olEdit=true&qswidgetid=$widgetId.ToString()"))">EDIT</a>
##<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_groupUrls.Group($pGroupId).Replace("default.aspx", "p/editrl.aspx"), "olEdit=true&qswidgetid=$widgetId.ToString()"))">EDIT</a>
#if ($IsOwner == true || $IsManager == true)
#set($irUrl = "$core_v2_groupUrls.Group($pGroupId)p/editrl")
<span class="add-more-link"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($irUrl, "olEdit=true&qswidgetid=$widgetId.ToString()&linkback=$LinkBackURL"))">Add More</a></span>
#end
<div class="clear"></div>



