## Find the current user's role and hide widget if they are not a fetch admin
#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)
#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end
#set($private = "^(.*)Private Discussions(.*)?")
##IS MANAGER: $IsManager<BR>

#if ($IsOwner == false && $IsManager == false)
    $core_v2_widget.Hide()
#end

#set ($links = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('links','Link=groupInviteUser&amp;Link=groupEdit&amp;Link=groupManageMembers&amp')))
#set ($hasLinks = false)
#set ($group = $core_v2_group.Current)
#set ($user = $core_v2_user.Accessing)
#set ($canModifyMembership = $core_v2_nodePermission.Get("groups", $group.Id, "Group_ModifyMembership").IsAllowed)
## $core_v2_utility.Describe($links)<BR>
#if ($IsManager)
    #set($canModifyMembership=true)
#end
## CAN MODIFY: $canModifyMembership<BR>

##CAN MODIFY: $canModifyMembership <BR>
<div class="navigation-list-header"></div>
<ul class="navigation-list">
	#foreach($link in $links.Values('Link'))
		#set ($url = false)
        ##LINK: $link<BR>
#*
		#if ($link == 'groupCreateGroup')
			#if ($group)
				#set ($url = $core_v2_groupUrls.AddGroup($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link create-group"><span></span>$core_v2_language.GetResource('Groups_Links_CreateNewGroup')</a></li>
					#set ($hasLinks = true)
				#end
			#end
		#elseif ($link == 'groupContactOwners')
			#if ($group)
				#set ($url = $core_v2_groupUrls.Contact($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-contact"><span></span>$core_v2_language.GetResource('Hubs_ContactGroupOwners')</a></li>
					#set ($hasLinks = true)
				#end
			#end
*#            
		#if ($link == 'groupInviteUser')
            #set($pGroup = $core_v2_utility.IsMatch($group.Name, $private))
            #if(!$pGroup)
			#if ($group && $canModifyMembership)
				#set ($url = $core_v2_groupUrls.MemberList($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustTarget($url,'invite'))" class="internal-link view-invite"><span></span>$core_v2_language.GetResource('Groups_Links_InviteAUser')</a></li>
					#set ($hasLinks = true)
				#end
			#end
            #end
  ##          
		#elseif ($link == 'groupJoin')
			#if ($group && $group.GroupType != 'Joinless')
#*
				#set ($membershipType = $core_v2_groupUserMember.Get($group.Id, "%{ UserId = $user.Id }").MembershipType)
				#set ($canJoinGroup = $core_v2_nodePermission.Get("groups", $group.Id, "Group_JoinGroup").IsAllowed)
				#set ($canJoinGroupByRequest = $core_v2_nodePermission.Get("groups", $group.Id, "Group_JoinGroupByRequest").IsAllowed)

				#registerEndOfPageHtml('telligent.evolution.widgets.GroupLinks')
					<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl("ui.js"))"></script>
				#end
				#registerEndOfPageHtml()
					<script type="text/javascript">
						jQuery(function(j){
							j.telligent.evolution.widgets.groupLinks.register({
								joinButton: j("#$core_v2_widget.UniqueId('RequestButton')"),
								requestJoinButton: j("#$core_v2_widget.UniqueId('RequestJoinButton')"),
								requestJoinUrl: #if(!$canJoinGroup) "$core_v2_groupUrls.RequestMembership($group.Id)",#else null,#end
								canJoinGroup: #if($canJoinGroup) true,#else false,#end
								canJoinGroupByRequest: #if($canJoinGroupByRequest) true,#else false,#end
								cancelLink: j("#$core_v2_widget.UniqueId('CancelMembership')"),
								groupId: $core_v2_group.Current.Id,
								userId: $core_v2_user.Accessing.Id,
								cancelConfirmMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource("Hubs_Membership_LeaveConfirm"))',
								joinUrl: '$core_v2_page.AbsoluteUrl("~/api.ashx/v2/groups/{GroupId}/members/users.json")',
								cancelUrl: '$core_v2_page.AbsoluteUrl("~/api.ashx/v2/groups/{GroupId}/members/users/{UserId}.json")'
							});
						});
					</script>
				#end

				#if ($membershipType == "Owner" || $membershipType == "Manager" || $membershipType == "Member" || $membershipType == "PendingMember")
					#set ($canLeaveGroup = $membershipType != "Owner" || $core_v2_groupUserMember.List($groupId, "%{MembershipType = 'Owner', PageSize = 1}").TotalCount > 1)
					#if ($canLeaveGroup)
						<li class="navigation-item leave-group">
							<a href="#" class="internal-link leave-group" id="$core_v2_widget.UniqueId('CancelMembership')">
								<span></span>
								#if ($membershipType == "Member")
									$core_v2_language.GetResource("Hubs_LeaveGroup")
								#elseif ($membershipType == "PendingMember")
									$core_v2_language.GetResource("Hubs_CancelJoinRequest")
								#end
							</a>
						</li>
						#set($hasLinks = true)
					#end
				#elseif ($canJoinGroupByRequest || $canJoinGroup)
					#if ($group.GroupType == "PublicOpen")
						<li class="navigation-item join-group">
							<a href="#" class="internal-link join-group" id="$core_v2_widget.UniqueId('RequestButton')">
								<span></span>$core_v2_language.GetResource('Hubs_JoinGroup')
							</a>
						</li>
						#set($hasLinks = true)
					#elseif ($group.GroupType == "PublicClosed")
						<li class="navigation-item">
							<a href="#" class="internal-link join-group" id="$core_v2_widget.UniqueId('RequestJoinButton')">
								<span></span>$core_v2_language.GetResource('Hubs_ApplyToJoin')
							</a>
						</li>
						#set($hasLinks = true)
					#end
				#end
*#
			#end
		#elseif ($link == 'groupEdit')
#*			#if ($group)
				#set ($url = $core_v2_groupUrls.Edit($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link edit-group"><span></span>$core_v2_language.GetResource('Hubs_EditHub')</a></li>
					#set ($hasLinks = true)
				#end
			#end
*#            
		#elseif ($link == 'groupEditTheme')
#*			#if ($group)
				#set ($url = $core_v2_groupUrls.EditTheme($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link edit-theme"><span></span>$core_v2_language.GetResource('Groups_Links_EditThisTheme')</a></li>
					#set ($hasLinks = true)
				#end
			#end
*#
		#elseif ($link == 'groupManageCustomPages')
#*
			#if ($group)
				#set ($url = $core_v2_groupUrls.ManageCustomPages($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link manage-pages"><span></span>$core_v2_language.GetResource('Groups_Links_ManageCustomPages')</a></li>
					#set ($hasLinks = true)
				#end
			#end
*#
		#elseif ($link == 'groupMentions')
			#if ($group)
				#set ($url = $core_v2_groupUrls.MentionList($group.Id))
				#if ($url)
					<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link group-mention-list"><span></span>$core_v2_language.GetResource('Groups_Links_MentionList')</a></li>
					#set ($hasLinks = true)
				#end
			#end
##            
		#elseif ($link == 'groupManageMembers')
           #set($pGroup = $core_v2_utility.IsMatch($group.Name, $private))
          
			#if ($group && $canModifyMembership)
				#set ($url = $core_v2_groupUrls.ManageMembers($group.Id))
				#if ($url)
					#set ($pendingMemberCount = $core_v2_groupUserMember.List($group.Id, "%{ MembershipType = 'PendingMember', PageSize = 1, PageIndex = 0 }").TotalCount)
					<li class="navigation-item">
						#if ($pendingMemberCount > 0)
							#set ($url = $core_v2_page.AdjustQueryString($url, 'Show=Pending&PageIndex=1'))
							#set ($linkText = $core_v2_language.FormatString($core_v2_language.GetResource('CF_ManageMembers_Pending'), $pendingMemberCount.ToString()))
							<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link edit-group-membership pending"><span></span>$linkText</a>
						#else
							<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link edit-group-membership"><span></span>
								#if ($group.GroupType == 'Joinless')
									$core_v2_language.GetResource('CF_ManageGroupOwners')
								#else
									$core_v2_language.GetResource('CF_ManageGroupOwners')
								#end
							</a>
						#end
					</li>
					#set ($hasLinks = true)
				#end
			#end
            
#*		#elseif ($link == 'groupContactRequests')
			#if ($group && $canModifyMembership)
				#set ($url = $core_v2_groupUrls.ContactRequests($group.Id))
				#if ($url)
					#set ($contactRequestCount = $core_v2_groupContactRequest.List($core_v2_group.Current.Id).TotalCount)
					<li class="navigation-item">
						#if ($contactRequestCount > 0)
							#set ($linkText = $core_v2_language.FormatString($core_v2_language.GetResource('Hubs_ContactRequest_Unread'), $contactRequestCount.ToString()))
							<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-contact-requests unread"><span></span>$linkText</a>
						#else
							<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-contact-requests"><span></span>$core_v2_language.GetResource('Hubs_ContactRequest')</a>
						#end
					</li>
					#set ($hasLinks = true)
				#end
			#end
		#elseif ($link == 'groupFavorite')
			#if ($group && $core_v2_bookmark.SupportsBookmarks($core_v2_group.ContentTypeId) && $core_v2_bookmark.CanBookmark($group.ContentId, $core_v2_group.ContentTypeId) && $core_v2_bookmark.CanUnBookmark($group.ContentId, $core_v2_group.ContentTypeId))
				<li class="navigation-item">$core_v2_ui.Bookmark($group.ContentId, $core_v2_group.ContentTypeId)</li>
				#set($hasLinks = true)
			#end
		#elseif ($link == 'groupReviewAppeals')
    		#if ($group)
    			#set ($url = $core_v2_urls.AppealQueue("%{ ContainerId = $group.ContainerId }"))
    			#if ($url)
    				<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link group-review-appeal-list"><span></span>$core_v2_language.GetResource('Groups_Links_ReviewAppeals')</a></li>
    				#set ($hasLinks = true)
    			#end
    		#end
*#            
		#end
	#end
</ul>
<div class="navigation-list-footer"></div>
##HAS LINKS: $hasLinks<BR>
#if (!$hasLinks)
	$core_v2_widget.Hide()
#end