$core_v2_widget.ExecuteFile("subview-perform-query.vm")

#foreach($post in $posts)
#beforeall
    <div class="content-list-header simple"></div>
    <ul class="content-list simple">
#each
        <li class="content-item simple">
            <div class="abbreviated-post-header"></div>
            <div class="abbreviated-post">
                <h4 class="post-name">
                    <a href="$core_v2_encoding.HtmlAttributeEncode($post.Url)" class="internal-link view-post">
                        <span></span>$post.Title
                    </a>
                </h4>
                <div class="post-date">
                    <span class="label">$core_v2_language.GetResource('Weblog_EntryList_Posted')</span>
                    <span class="value">$core_v2_language.FormatAgoDate($post.PublishedDate)</span>
                </div>
                <div class="post-author">
                    <span class="fiji-post-author-by evolution2-post-author-by">$core_v2_language.GetResource('by')</span>
                    #if($userFilterType != 'all')
                        <span class="avatar"><a href="$core_v2_encoding.HtmlAttributeEncode($post.Url)">$core_v2_ui.GetResizedImageHtml($post.Author.AvatarUrl, 32, 32, "%{border='0', alt=$post.Author.DisplayName}")</a></span>
                    #elseif (!$core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
                        <span class="avatar">
                            $core_v2_ui.GetResizedImageHtml($post.Author.AvatarUrl, 32, 32, "%{border='0', alt=$post.Author.DisplayName}")
                        </span>
                        <span class="user-name">
                            $post.Author.Username
                        </span>
                    #else
                        <span class="avatar">
                            #if ($post.Author.ProfileUrl)
                                <a href="$core_v2_encoding.HtmlAttributeEncode($post.Author.ProfileUrl)">
                                    $core_v2_ui.GetResizedImageHtml($post.Author.AvatarUrl, 32, 32, "%{border='0', alt=$post.Author.DisplayName}")
                                </a>
                            #else
                                $core_v2_ui.GetResizedImageHtml($post.Author.AvatarUrl, 32, 32, "%{border='0', alt=$post.Author.DisplayName}")
                            #end
                        </span>
                    #end

                    #if (!$core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
                        <span class="user-name">
                            $post.Author.Username
                        </span>
                    #else
                        <span class="user-name">
                            #if ($post.Author.ProfileUrl)
                                <a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($post.Author.ProfileUrl)">
                                    <span></span>$post.Author.DisplayName
                                </a>
                            #else
                                <span></span>$post.Author.DisplayName
                            #end
                        </span>
                    #end
                </div>

                #set ($likes = false)
                #set ($likes = $core_v2_like.List("%{ ContentId = $post.ContentId, ContentTypeId = $core_v2_blogPost.ContentTypeId, PageSize = 1 }"))
                #if ($post.CommentCount > 0 || ($likes && $likes.TotalCount > 0))
                    <span class="post-counts">
                        <a href="$core_v2_encoding.HtmlAttributeEncode($post.Url)#comments">
                            #if ($post.CommentCount > 0)
                                <span class="count reply-count">
                                    <span class="avatar"></span>$post.CommentCount
                                </span>
                            #end
                            #if ($likes && $likes.TotalCount > 0)
                                <span class="count like-count">
                                    <span class="avatar"></span>$core_v2_ui.Like($post.ContentId, $core_v2_blogPost.ContentTypeId, "%{ Format = '{count}' }")
                                </span>
                            #end
                        </a>
                    </span>
                #end

            </div>
            <div class="abbreviated-post-footer"></div>
        </li>
#afterall
    </ul>
    <div class="content-list-footer simple"></div>
    <div class="read_more"><a href="/customer_portal/news/b/weblog/default.aspx">Read More</a></div>
    <div class="clear"></div>    
#nodata
    <div class="message norecords">$core_v2_language.GetResource('Weblog_NoPosts_Created')</div>
#end
