#set($viewType = $core_v2_widget.GetStringValue('viewType', 'standard'))
$core_v2_widget.ExecuteFile("view-${viewType}.vm")
#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)

#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)

#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

#if ($IsManager==false && $IsOwner==false)
    $core_v2_widget.Hide()
#end

#registerEndOfPageHtml('telligent.evolution.widgets.blogPostList')
    <script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
	//<![CDATA[
	jQuery.telligent.evolution.widgets.blogPostList.register({
		wrapper: "#$core_v2_widget.WrapperElementId",
		listUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('callback-standard-list.vm'))",
		detailUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('callback-standard-detail.vm'))",
		viewType: "$core_v2_encoding.JavascriptEncode($viewType)"
	});
	//]]>
	</script>
#end