<div class="member-search-container">
	<span class="search-label">Search for Registered Users</span>
    <div class="member-search">
        <input id="$core_v2_widget.UniqueId('membersearchboxCSN')" class="search empty" type="text" name="queryString" placeholder="Search for CSN" maxlength="64" length="15" autocomplete="off">
		<span style="float:left; padding: 5px;">OR</span>
		<input id="$core_v2_widget.UniqueId('membersearchboxEmail')" class="search empty" type="text" name="queryString" placeholder="Search for Email" maxlength="64" length="15" autocomplete="off">

 <div class="submit-buttons">
            <div id="$core_v2_widget.UniqueId('membersearchbutton')" class="member-search-button">
                <a href="#">
                    <img width="98" height="26" src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/search_2D00_button.png">
                </a>
            </div>
        </div>
        <div class="search-criteria"><span>$searchCriteriaLabel</span>$searchText</div>
    </div>
	<div id='memberFilter'>
		#if($nonmembers == 'true')
			<input type='radio' name='memberfiltergroup' value='true' checked='true'>Non-members
			<input type='radio' name='memberfiltergroup' value='false'>Members 
		#else
			<input type='radio' name='memberfiltergroup' value='true'>Non-members
			<input type='radio' name='memberfiltergroup' value='false' checked='true'>Members 
		#end
	</div>
</div>

#registerEndOfPageHtml('omnicell.traininguser.subscriptionMemberSearch')
    <script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
    <script type="text/javascript">
        jQuery(function(){
    		jQuery.omnicell.traininguser.subscriptionMemberSearch.register({
				searchButton: jQuery('#$core_v2_widget.UniqueId('membersearchbutton')'),
                searchTextboxCSN: jQuery('#$core_v2_widget.UniqueId('membersearchboxCSN')'),
                searchTextboxEmail: jQuery('#$core_v2_widget.UniqueId('membersearchboxEmail')')
			});
		});
	</script>
#end
