## add to employees group
## redirect to group homepage

$core_v2_widget.ExecuteFile('set_user.vm')


#if ($employeeRole == false)
	#set ($roleString = "Employee")
	#set ($userString = "user")
	#set ($employeeRole = $core_v2_role.Create("", "", "%{Include = $userString, RoleName = $roleString, UserId = $user.Id}"))
	##<p>role: $core_v2_utility.Describe($role)</p>
#end

###set ($groupMemberShipType = 'Member')

###if ($groupUser == false)
##	#set($groupUser = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType }"))
##	##<p>portalGroupId: $core_v2_utility.Describe($portalGroupId)</p>
##	##<p>user: $core_v2_utility.Describe($user)</p>
##	##<p>groupUser : $core_v2_utility.Describe($groupUserResponse)</p>
###elseif ($groupUser.MembershipType != $groupMemberShipType)
##	#set($additionalInfo = $core_v2_groupUserMember.Delete($portalGroupId, "%{UserId = $user.Id}"))
##	#set($groupUser = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType }"))
###end


###set ($groupMemberShipType = "Member")
###set ($groupUserResponse = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType }"))
##<p>groupUserResponse: $core_v2_utility.Describe($groupUserResponse)</p>

###set ($employeeRoleName = $core_v2_language.GetResource('EmployeeRoleName'))
###set ($roleResponse = $core_v2_role.Create("", "", "%{Include = "user", RoleName = $employeeRoleName , UserId = $user.Id}"))

###set ($roleString = "Employee")
###set ($userString = "user")
###set ($role = $core_v2_role.Create($roleString, "", "%{Include = $userString, RoleName = $roleString, UserId = $user.Id}"))
##<p>role: $core_v2_utility.Describe($role)</p>

##<input type="hidden" name="$core_v2_encoding.HtmlAttributeEncode($joinType)" id="$core_v2_encoding.HtmlAttributeEncode($joinType)" value="employee" />

