## add to allowed group
## redirect to group page

$core_v2_widget.ExecuteFile('set_user.vm')

#set ($roleString = "Customer")
#set ($userString = "user")

#if ($customerRole == false)
	#set ($customerRole = $core_v2_role.Create("", "", "%{Include = $userString, RoleName = $roleString, UserId = $user.Id}"))
	##<p>customerRole : $core_v2_utility.Describe($customerRole )</p>
#end

###set ($roleString = "Administrators")
###set ($adminRole = $core_v2_role.Create("", "", "%{Include = $userString, RoleName = $roleString, UserId = $user.Id}"))
##<p>adminRole : $core_v2_utility.Describe($adminRole)</p>

###set ($groupMemberShipType = 'Member')

##<p>portalGroupId: $core_v2_utility.Describe($portalGroupId)</p>
##<p>user: $core_v2_utility.Describe($user)</p>
##<p>groupUser : $core_v2_utility.Describe($groupUser)</p>

###if ($groupUser == false)
##	#set($groupUser = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType}"))
###elseif ($groupUser.MembershipType != $groupMemberShipType)
##	#set($additionalInfo = $core_v2_groupUserMember.Delete($portalGroupId, "%{UserId = $user.Id}"))
##	<p>additionalInfo : $core_v2_utility.Describe($additionalInfo)</p>
##	#set($groupUser = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType}"))
###end
##<p>groupUser : $core_v2_utility.Describe($groupUser)</p>


###set($additionalInfoResponse = $core_v2_role.Delete($adminRole.Id, "%{Include = $userString, UserId = $user.Id}"))
##<p>additionalInfoResponse : $core_v2_utility.Describe($additionalInfoResponse)</p>



##set ($groupMemberShipType = "Member")
##set ($groupUserResponse = $core_v2_groupUserMember.Create($portalGroupId, $user.Id, "%{GroupMembershipType = $groupMemberShipType }"))
##<p>groupUserResponse: $core_v2_utility.Describe($groupUserResponse)</p>

##set ($roleString = "Customer")
##set ($userString = "user")
##set ($role = $core_v2_role.Create($roleString, "", "%{Include = $userString, RoleName = $roleString, UserId = $user.Id}"))
##<p>role: $core_v2_utility.Describe($role)</p>

##<input type="hidden" name="$core_v2_encoding.HtmlAttributeEncode($joinType)" id="$core_v2_encoding.HtmlAttributeEncode($joinType)" value="customer" />
