$core_v2_page.SetContentType("text/css")

.docs-table {width: 100%;}
.docs-table tr {width: 100%;}
.docs-table .row-one.col-one {width:35px; float:left; position: relative; top: 0px;}
.docs-table .row-one.col-two {width:70%; float:left;border-bottom: none;padding: 5px 0 0 0;}
.docs-table .row-two.col-one {width:94%; float:left; font-size: 11px;color: #999; padding: 0 0 15px 35px; position: relative;top: -9px;}
.docs-table .row-two.col-one .floatright {float: right;}
.table-list-footer a {font-size: 11px;padding-top:5px; color:#006699 !important;}